html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: aliceblue;
}

header {
    width: 100%;
    height: 5%;
    background-color: rgb(219, 76, 63, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}