html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: aliceblue;
}

header {
    width: 100%;
    height: 10%;
    background-color: #1F31D6;
    color: #ABB3F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 6vw, 3rem);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    text-align: center;
    background-color: #d8dcff;
}

.content {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.nav {
    background-color: #091540;
    color: #576fc7;
    width: clamp(150px, 15%, 15vw);
    font-size: clamp(1.1rem, 2vw, 2.5rem);
    padding: 5% 2% 0% 2%;
    display: flex;
    flex-direction: column;
    border-right: solid 5px #2f4592;
}

.container-work {
    height: clamp(500px, 50%, 50%) ;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, 9%);
    gap: 25px;
    overflow-wrap:normal;
}

.info {
    height: clamp(500px, 50%, 50%);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, 9%);
    gap: 25px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ABD2FA;
    overflow-y: scroll;
    width: 85%;
}

.home:hover, .new-project:hover, .my-projects:hover, .settings:hover, .about:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    scale: 1.05;
    color: rgb(255, 128, 128);
}

img {
    width: 100%;
    height: 100%;
    filter: invert(44%) sepia(50%) saturate(650%) hue-rotate(190deg) brightness(89%) contrast(90%);
    cursor: pointer;
}

h1 {
    width: max-content;
    margin-top: 5%;
    font-size: clamp(0.8rem, 5vw, 3rem);
    text-decoration: underline rgba(0, 0, 255, 0.493) 3px;
}

p {
    width: 80%;
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-project {
    width: clamp(200px, 40%, 100vw);
    height: 75%;
    background-color: #d8dcff;
    border-radius: 15px;
    border: solid 5px rgba(0, 0, 255, 0.493);
    padding-left: 5%;
    padding-top: 2%;
    overflow: hidden;
}

.project_description {
    width: 80%;
    height: 15%;
    font-size: x-large;
    resize: none;
}

.project_priority {
    width: clamp(40px, 10%, 200px);
    height: 5%;
}

.project_priority, .project_description, .project_date, .project_place {
    margin-bottom: 25px;
}

.project_place {
    width: 50%;
    resize: none;
}

.project_date {
    width: auto;

}

.create_project_button {
    width: 150px;
    height: 35px;
}

.project_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.project_card {
    width: clamp(170px, 60%, 60%);
    border-radius: 15px;
    border: 2px solid #091540;
    height: 200px;/*300px*/ 
    background-color: #69b2fc;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 1% 1% 1%;
    overflow-y: none; /*scroll*/
}

.project_card.expanded {
    height: 300px;
  }

.project_card_header {
    text-align: center;
}

.test {
    width: 50%;
    background-color:#9ecdfc;
    border: 2px solid #58a9fa;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
    font-size: clamp(13px, 1vw, 1vw);    
}

.project_card_name {
    font-size: clamp(15px, 2vw, 2vw);
    font-weight: 400;
    margin-bottom: 20px;
}

.project_card_description {
    font-size: clamp(8px, 1vw, 1vw);
    width: 70%;
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 10px;
    background-color: #9dd8ff;
    border: 2px solid;
}

.project_card_priority {
    font-size: clamp(7px, 1vw, 1vw);
    font-weight: 600;
}

.project_card_date {
    font-size: clamp(7px, 1vw, 1vw);
    font-weight: 600;
}

.button_task {
    width: clamp(35px, 10%, 10%);
    height: clamp(15px, 3vh, 3vh);
    font-size: clamp(5px, 0.7vw, 0.7vw);
    border: #2f4592 solid 2px;
    background-color: #38f2ff;
}

.button_task:hover {
    cursor: pointer;
    background-color: #ABB3F7;
}

.task-list {
    display: none;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    justify-content: space-around;
    background-color: #aed7ff;
    border: 2px solid black;
    border-radius: 15px;
}

.task-list.expanded {
    display: flex;
}

.task-input {
    margin-top: 15px;
    width: 80%;
    height: clamp(8%, 45px, 50px);
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.task-input.expanded {
    display: flex;
}

.new-task {
    width: 20%;
    height: 100%;
    font-size: clamp(5px, 0.7vw, 0.7vw);
    background-color: aquamarine;
}

.new-task:hover {
    cursor: pointer;
    background-color: rgb(69, 255, 193);
}


.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.commands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 10%;
    margin-top: 15px;
}

.delete-task {
    width: clamp(35px, 10%, 10%);
    height: clamp(15px, 3vh, 3vh);
    font-size: clamp(5px, 0.7vw, 0.7vw);
    border: #2f4592 solid 2px;
    background-color: #ff3838;
}

.delete-task:hover {
    cursor: pointer;
    background-color: #ff7575;
}

.task-name {
    width: 50%;
}

.element {
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.input-task {
    width: clamp(60px, 40%, 40%);
}